/* navbar */
.navbar {
	position: sticky;
	top: 20px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	position:relative;
	isolation: isolate;
	background-color: var(--black);
	color: var(--white);
	padding: 6px 12px;
	border-radius: 80px;
	transform: rotate(8deg);
	font-weight: bold;
	font-size: 12px;
}

.navbar-center {
	text-align: center;
	flex-grow: 1;
	color: var(--black);
	font-size: 12px;
	font-weight: bold;
}

.navbar-toggle {
	font-size: 0.75rem;
	font-weight: bold;
}

/* navbar toggle */
[type="checkbox"] {
	appearance: none;
	display: none;
}

.checkbox-container {
	scale: 1.325;
	display: grid;
	inline-size: var(--container);
	block-size: var(--height);
	background-color: var(--black);
	border-radius: 100vh;
	position: relative;
	box-shadow: 0px 1.9px 3.2px rgba(0, 0, 0, 0.25);
}

.label-for-toggle {
	cursor: pointer;
	isolation: isolate;
	display: grid;
	place-content: center start;
	width: inherit;
	border-radius: inherit;
	mix-blend-mode: normal;
}

.ball {
	mix-blend-mode: normal;
	place-self: center start;
	position: absolute;
	left: 0.5rem;
	display: grid;
	aspect-ratio: 1;
	border-radius: 50%;
	transition: transform 500ms cubic-bezier(0.4, 0.47, 0.66, 0.86);
}

:checked~.checkbox-container .ball {
	transform: translateX(calc(var(--container) - var(--ball) - 1rem)) rotate(180deg);
}

/* hero */
.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 190px);
	padding-top: 140px;
}

.top-hero {
	display: flex;
	justify-content: space-between;
}

.hero-title {
	font-weight: 500;
	font-size: 8vw;
	line-height: 8vw;
	color: var(--black);
	display: flex;
	align-items: center;
}

.hero-icon {
	margin-right: 45px;
}

.hero-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	width: 30vw;
	max-width: 600px;
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

.card {
	flex: 1;
	max-width: 100%;
}

.bottom-hero {
	display: flex;
	align-self: baseline;
	height: auto;
	position: absolute;
	bottom: 0;
}

.marquee {
	position: relative;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	bottom: 0;
}

.track>h1 {
	font-weight: 700;
	font-size: 12rem;
}

/* cards */
.card-wrapper {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: auto auto;
	grid-gap: 20px;
	/* width: calc(100vw - 64px); */
	/* height: 100vh; */
	border-radius: 60px;
	padding: 40px;
	color: #262625;
	overflow: hidden;
	/* z-index: 0; */
}

.card-header {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.theme-wrapper {
	display: flex;
	flex-direction: column;
	grid-column: 2 / 4;
	font-size: 12px;
	font-weight: 500;
}

.card-title {
	font-size: 12px;
	grid-column: 4/7;
	grid-row: 1;
}

.card-judge-wrapper {
	display: flex;
	justify-content: right;
	grid-column: 15 / -1;
	height: 47px;
}

.card-judge {
	display: flex;
	justify-content: flex-end;
	height: 47px;
	grid-column: -1/-1;
	grid-row: 1;
}

.card-judge-name {
	height: fit-content;
	display: flex;
	align-self: flex-end;
	padding: 6px 12px;
	border-radius: 0px 19px 19px 19px;
	color: #FEFEFE;
	font-size: 12px;
	font-weight: 500;
}

.judge-wrapper {
	display: flex;
}

.card-judge-icon>svg {
	width: 14px;
	height: 14px;
	margin: 0 -2px 3px 20px;
}

.card-content {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
}

.card-image {
	grid-column: 1 / 12;
}

.card-image img {
	width: 100%;
	height: auto;
}

.card-description {
	grid-column: 12 / -2;
	font-size: 12px;
	font-weight: 500;
}

.card-description>p {
	margin-bottom: 32px;
}

.circle-card {
	position: absolute;
	bottom: -3rem;
	right: -3rem;
	width: 310px;
	height: 310px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* last card */
.little-title {
	font-size: 12px;
	font-weight: 500;
	grid-column: 2 / -1;
	grid-row: 1;
	align-self: end;
	margin-bottom: 40px;
}

.big-title {
	grid-column: 2 / -2;
	grid-row: 2;
	font-size: 7.18rem;
	font-weight: 500;
	margin: 0;
	text-align: justify;
}

.big-title>svg {
	mix-blend-mode: difference;
}

.button-wrapper {
	grid-column: 1 / -1;
	grid-row: 3;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.footer-button {
	position: relative;
	display: flex;
	justify-content: center;
	width: fit-content;
	align-items: center;
	margin: auto;
	padding: 22px 50px;
	background-color: var(--beige);
	color: var(--black);
	border-radius: 60px;
	font-size: 14px;
	font-weight: 500;
}

.footer-button>img {
	position: absolute;
	border-radius: 50%;
}

.footer-button>img:nth-child(1) {
	left: -10px;
	top: -10px;
	width: 12px;
	height: 12px;
	background-color: var(--green-mid);
	padding: 8px;
}

.footer-button>img:nth-child(2) {
	right: -10px;
	top: -25px;
	width: 27px;
	height: 27px;
	background-color: var(--pink-mid);
	padding: 8px;
	z-index: -1;
	rotate: 45deg;
}

.footer-button>img:nth-child(3) {
	bottom: -15px;
	right: 10px;
	width: 12px;
	height: 12px;
	background-color: var(--blue-mid);
	padding: 8px;
}

/* glitch */
.video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	border: none;
	z-index: 10000;
	margin: 0;
	padding: 0;
	object-fit: cover;
}

.video-wrapper > video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
}


/* responsive */
/* tablet */
@media (max-width: 1200px) {
	.hero-title {
		position: relative;
		font-size: 10vw;
		line-height: 10vw;
	}

	.hero-icon {
		margin-right: 12px;
	}

	.hero-right {
		width: 40vw;
	}

	.card-wrapper {
		grid-template-columns: repeat(12, 1fr);
	}

	.theme-wrapper {
		grid-column: 2/4;
	}

	.card-title {
		grid-column: 4/-1;
	}

	.card-image {
		grid-column: 2 / -2;
	}

	.card-description {
		grid-column: 2 / -2;
	}

	.circle-card {
		width: 200px;
		height: 200px;
	}

	.big-title {
		font-size: 3.5rem;
	}

	.little-title {
		margin-bottom: 80px;
	}

	.hero-left {
		position: relative;
		width: 100%;
	}

	#card-footer {
		height: auto;
	}
}

/* mobile */
@media (max-width: 800px) {
	.checkbox-container {
		scale: 1;
	}

	.hero {
		height: 115vh;
	}

	.top-hero {
		width: auto;
		flex-direction: column;
	}

	.hero-title {
		font-size: 16vw;
		line-height: 16vw;
	}

	.hero-icon {
		margin-right: 12px;
	}

	.hero-right {
		width: 100%;
		margin-top: 40px;
	}

	.card-wrapper {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto auto;
		grid-gap: 12px 8px;
		height: auto;
		width: auto;
		padding-bottom: 80px;
		padding-left: 0;
		padding-right: 0;
	}

	.theme-wrapper {
		grid-column: 2/4;
		grid-row: 1;
	}

	.card-title {
		grid-column: 4/-1;
	}

	.card-image {
		grid-column: 2 / -2;
		grid-row: 2;
		/* position: relative; */
	}

	.card-description {
		grid-column: 2 / -2;
	}

	.circle-card {
		bottom: -2rem;
		right: 0;
		width: 135px;
		height: 135px;
	}

	.circle-card>img {
		width: 56px;
		height: auto;
	}

	.card-judge-wrapper {
		grid-column: 7;
		grid-row: 2;
		z-index: 2;
		display: flex;
		flex-direction: column;
	}

	.card-judge {
		height: auto;
		flex-direction: column;
	}

	.card-judge-icon {
		margin-top: -12px;
	}

	.judge-wrapper {
		display: flex;
		margin-top: 20px;
	}

	.big-title {
		font-size: 2.5rem;
		grid-row: 2;
	}

	.little-title {
		margin-bottom: 130px;
		grid-column: 2/-1;
		grid-row: 1;
	}

	.big-title>svg {
		position: absolute;
		top: 77px;
		right: 60px;
	}

	.hero-left {
		position: relative;
		width: 100%;
	}

	.hero-title>img {
		position: absolute;
		right: 0;
		top: 0;
	}

	#card-footer {
		height: auto;
	}

}