:root {
	--beige: #F3F3F1;
	--black: #262625;
	--blue-dark: #6B93C0;
	--blue-mid: #6B93C0;
	--blue-light: #BADAFF;
	--green-dark: #95AE6D;
	--green-light: #ECFFCE;
	--green-mid: #A2B87E;
	--mustard-dark: #C2BB82;
	--mustard-light: #FFFAC2;
	--mustard-mid: #CAC48E;
	--orange-dark: #D46F55;
	--orange-light: #FFBCAB;
	--orange-mid: #F28164;
	--pink-dark: #D6699A;
	--pink-light: #FFEDF5;
	--pink-mid: #F588B9;
	--purple-dark: #8A92E3;
	--purple-light: #EBEDFF;
	--purple-mid: #9FA8FE;
	--white: #FEFEFE;
	--margin: 32px;

	/* toggle var */
	--container: 54px;
	--height: 27px;
	--ball: 23px;

	font-family: Inter, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--black);
	background-color: var(--beige);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

html {
	margin: 0;
	padding: 0;
}
body {
	margin: 20px var(--margin);
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	place-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin-top: 26px;
}

button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	/* button {
		background-color: #f9f9f9;
	} */
}

/* responsive */
/* tablet */
/* @media (max-width: 1024px) {
	:root {
		--margin: 24px;
	}
} */

/* mobile */
@media (max-width: 768px) {
	:root {
		--margin: 12px;
	}
}